.view-more {
    cursor: pointer;
    width: 18rem;
    height: 6rem;
    position: absolute;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(6px);
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 0 2rem 0 0;
    padding-top: 2rem;
    z-index: 1;

    &__text {
        color: #fff;
        font-size: 1.5rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 99);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & span {
        padding-left: 1rem;
    }
}

.arrows {
    // width: 20rem;
    // height: 7rem;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    backdrop-filter: blur(6px);
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    border-radius: 2rem 0 0 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 99);

    &__container {
        position: relative;
        width: 18rem;
        height: 6rem;
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 2.8rem;
        
        &--right {
            transform: translate(80%, -50%);
            left: 50%;
        }
        
        &--left {
            transform: translate(-80%, -50%);
            right: 50%;
        }
    }
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    font-size: 3rem;

    & a {
        color: #ffffff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 99);
    }
}